@charset "UTF-8";
@font-face {
  font-family: "ShareTechMono";
  letter-spacing: 0.125em;
  src: url(../fonts/ShareTechMono-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "UDEVGothic";
  letter-spacing: 0.125em;
  src: url(../fonts/UDEVGothic-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "DotGothic16-Regular";
  letter-spacing: 0.125em;
  src: url(../fonts/DotGothic16-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "JosefinSans-BoldItalic";
  letter-spacing: 0.125em;
  src: url(../fonts/JosefinSans-BoldItalic.ttf) format("truetype");
}
@font-face {
  font-family: "Limelight-Regular";
  letter-spacing: 0.125em;
  src: url(../fonts/Limelight-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Monoton-Regular.ttf";
  letter-spacing: 0.125em;
  src: url(../fonts/Monoton-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Oswald-VariableFont_wght";
  letter-spacing: 0.125em;
  src: url(../fonts/Oswald-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "PlayfairDisplay-VariableFont_wght";
  letter-spacing: 0.125em;
  src: url(../fonts/PlayfairDisplay-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "QwitcherGrypen-Regular";
  letter-spacing: 0.125em;
  src: url(../fonts/QwitcherGrypen-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "RampartOne-Regular";
  letter-spacing: 0.125em;
  src: url(../fonts/RampartOne-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "UncialAntiqua-Regular";
  letter-spacing: 0.125em;
  src: url(../fonts/UncialAntiqua-Regular.ttf) format("truetype");
}
html {
  background: rgb(153, 153, 153);
  padding: 1em;
  color: rgb(0, 0, 0);
  font-family: ShareTechMono;
  background-position: center;
}

header {
  background-color: rgba(255, 255, 255, 0.7);
  margin-bottom: 70px;
}

.warning {
  display: inline;
  font-size: 15px;
  -webkit-animation: 1s textflicker infinite normal;
          animation: 1s textflicker infinite normal;
  border-bottom: 1px solid rgb(0, 0, 0);
}

body {
  font-size: 25px;
}

.line {
  border-top: 0.5px solid rgb(0, 0, 0);
}

.container {
  margin: 0 auto;
}

/*********************************
    SPLASH SCREEN
*********************************/
.changingchar {
  margin: auto;
  font-size: 15px;
  width: 75px;
  color: rgb(153, 153, 153);
  background-color: white;
  text-align: center;
  -webkit-animation: 1s changing infinite linear, 0.1s commandflicker infinite normal;
          animation: 1s changing infinite linear, 0.1s commandflicker infinite normal;
}

@-webkit-keyframes changing {
  0% {
    font-family: "ShareTechMono";
  }
  10% {
    font-family: "Oswald-VariableFont_wght";
  }
  20% {
    font-family: "UDEVGothic";
  }
  30% {
    font-family: "PlayfairDisplay-VariableFont_wght";
  }
  40% {
    font-family: "DotGothic16-Regular";
  }
  50% {
    font-family: "RampartOne-Regular";
  }
  60% {
    font-family: "JosefinSans-BoldItalic";
  }
  70% {
    font-family: "QwitcherGrypen-Regular";
  }
  80% {
    font-family: "Limelight-Regular";
  }
  90% {
    font-family: "UncialAntiqua-Regular";
  }
  100% {
    font-family: "Monoton-Regular.ttf";
  }
}

@keyframes changing {
  0% {
    font-family: "ShareTechMono";
  }
  10% {
    font-family: "Oswald-VariableFont_wght";
  }
  20% {
    font-family: "UDEVGothic";
  }
  30% {
    font-family: "PlayfairDisplay-VariableFont_wght";
  }
  40% {
    font-family: "DotGothic16-Regular";
  }
  50% {
    font-family: "RampartOne-Regular";
  }
  60% {
    font-family: "JosefinSans-BoldItalic";
  }
  70% {
    font-family: "QwitcherGrypen-Regular";
  }
  80% {
    font-family: "Limelight-Regular";
  }
  90% {
    font-family: "UncialAntiqua-Regular";
  }
  100% {
    font-family: "Monoton-Regular.ttf";
  }
}
.commandstyle {
  color: rgb(0, 0, 0);
  font-size: 1rem;
  letter-spacing: 0.3em;
  -webkit-animation: 0.1s commandflicker infinite normal;
          animation: 0.1s commandflicker infinite normal;
  will-change: text-shadow;
}

@-webkit-keyframes commandflicker {
  0% {
    text-shadow: 0.5px 0 0 rgba(229, 255, 0, 0.5137254902), -2px 0 0 rgba(255, 0, 55, 0.5137254902);
  }
  100% {
    text-shadow: 1.5px 0.5px 1px rgba(229, 255, 0, 0.5137254902), -2px -0.5px 1px rgba(255, 0, 55, 0.5137254902);
  }
}

@keyframes commandflicker {
  0% {
    text-shadow: 0.5px 0 0 rgba(229, 255, 0, 0.5137254902), -2px 0 0 rgba(255, 0, 55, 0.5137254902);
  }
  100% {
    text-shadow: 1.5px 0.5px 1px rgba(229, 255, 0, 0.5137254902), -2px -0.5px 1px rgba(255, 0, 55, 0.5137254902);
  }
}
#splash {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgb(153, 153, 153);
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: 1s opacity;
}

#splash.loaded {
  -webkit-animation: 0.05s loaded forwards linear;
          animation: 0.05s loaded forwards linear;
  will-change: transform, opacity, visibility;
}

@-webkit-keyframes loaded {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}

@keyframes loaded {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}
#loading {
  visibility: hidden;
  position: relative;
  top: 25%;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 30px;
}

#loadingbox {
  visibility: hidden;
  --x-gradient: linear-gradient(90deg, rgb(0, 0, 0) 0 10px, transparent 0 calc(100% - 10px), rgb(0, 0, 0) calc(100% - 10px));
  --y-gradient: linear-gradient(rgb(0, 0, 0) 0 7px, transparent 0 calc(100% - 7px), rgb(0, 0, 0) calc(100% - 7px));
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  line-height: 1;
  background-image: var(--x-gradient), var(--y-gradient), var(--x-gradient), var(--y-gradient);
  background-repeat: no-repeat;
  background-size: 100% 2px, 2px 100%, 100% 2px, 2px 100%;
  background-position: top, right, bottom, left;
  filter: drop-shadow(1px 0 0 rgba(229, 255, 0, 0.5137254902)) drop-shadow(-1px 0 0 rgba(255, 0, 55, 0.5137254902));
  -webkit-animation: 1s boxflicker infinite normal;
          animation: 1s boxflicker infinite normal;
  will-change: filter;
}

#loadingline {
  position: relative;
  height: 15px;
  background-color: rgb(0, 0, 0);
}

.loadingline2::before {
  content: "";
  position: absolute;
  height: 15px;
  background-color: #ff5e00;
  -webkit-animation: 5s fullexpand forwards normal;
          animation: 5s fullexpand forwards normal;
}

@-webkit-keyframes fullexpand {
  0% {
    width: 0px;
  }
  40% {
    width: 30%;
  }
  80% {
    width: 80%;
  }
  90% {
    width: 85%;
  }
  100% {
    width: 100%;
  }
}

@keyframes fullexpand {
  0% {
    width: 0px;
  }
  40% {
    width: 30%;
  }
  80% {
    width: 80%;
  }
  90% {
    width: 85%;
  }
  100% {
    width: 100%;
  }
}
.loading-divider {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 20px auto 0 auto;
  width: 50%;
}

.cross-splashscreen {
  padding: 1em;
  color: rgb(0, 0, 0);
  width: 50px;
  height: 50px;
  letter-spacing: 0.125em;
  -webkit-animation: 1.2s crossflicker infinite alternate;
          animation: 1.2s crossflicker infinite alternate;
  will-change: filter;
}

/*********************************
	コンテンツ
*********************************/
.content {
  max-width: 1500px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.flex-divider {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  width: 250px;
  margin: 30px auto;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 0px;
}

.footer p {
  font-family: UDEVGothic;
  font-size: 0.4em;
  letter-spacing: 2em;
}

.copyright {
  font-size: 0.5em;
  text-align: right;
  letter-spacing: 0.125em;
}

.title {
  padding: 2rem 6rem;
}

.glitchtitle {
  overflow: scroll;
  display: inline;
  background-color: #ff5e00;
  color: rgb(0, 0, 0);
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1;
  text-shadow: 0.06rem 0 0.06rem rgba(229, 255, 0, 0.5137254902), -0.125rem 0 0.06rem rgba(255, 0, 55, 0.5137254902);
  letter-spacing: 0.125em;
  -webkit-animation: 1s textflicker infinite normal;
          animation: 1s textflicker infinite normal;
  will-change: text-shadow;
}

.glitchtitle span {
  display: inline-block;
}

.blink {
  -webkit-animation: 0.5s textblinking infinite alternate;
          animation: 0.5s textblinking infinite alternate;
  will-change: opacity;
}

@-webkit-keyframes textflicker {
  0% {
    text-shadow: 1px 0 0 rgba(229, 255, 0, 0.5137254902), -2px 0 0 rgba(255, 0, 55, 0.5137254902);
  }
  10% {
    text-shadow: 3px 0.5px 1px rgba(229, 255, 0, 0.5137254902), -2px -0.5px 1px rgba(255, 0, 55, 0.5137254902);
  }
  20% {
    text-shadow: 1px 0 0 rgba(229, 255, 0, 0.5137254902), -2px 0 0 rgba(255, 0, 55, 0.5137254902);
  }
  30% {
    text-shadow: 3px 0.5px 1px rgba(229, 255, 0, 0.5137254902), -2px -0.5px 1px rgba(255, 0, 55, 0.5137254902);
  }
  40% {
    text-shadow: 1px 0 0 rgba(229, 255, 0, 0.5137254902), -2px 0 0 rgba(255, 0, 55, 0.5137254902);
  }
  50% {
    text-shadow: 3px 0.5px 1px rgba(229, 255, 0, 0.5137254902), -2px -0.5px 1px rgba(255, 0, 55, 0.5137254902);
  }
  60% {
    text-shadow: 1px 0 0 rgba(229, 255, 0, 0.5137254902), -2px 0 0 rgba(255, 0, 55, 0.5137254902);
  }
  70% {
    text-shadow: 3px 0.5px 1px rgba(229, 255, 0, 0.5137254902), -2px -0.5px 1px rgba(255, 0, 55, 0.5137254902);
  }
  80% {
    text-shadow: 1px 0 0 rgba(229, 255, 0, 0.5137254902), -2px 0 0 rgba(255, 0, 55, 0.5137254902);
  }
  90% {
    text-shadow: 3px 0.5px 1px rgba(229, 255, 0, 0.5137254902), -2px -0.5px 1px rgba(255, 0, 55, 0.5137254902);
  }
  100% {
    text-shadow: 6px 2px 2px rgba(229, 255, 0, 0.5137254902), -6px -2px 2px rgba(255, 0, 55, 0.5137254902);
  }
}

@keyframes textflicker {
  0% {
    text-shadow: 1px 0 0 rgba(229, 255, 0, 0.5137254902), -2px 0 0 rgba(255, 0, 55, 0.5137254902);
  }
  10% {
    text-shadow: 3px 0.5px 1px rgba(229, 255, 0, 0.5137254902), -2px -0.5px 1px rgba(255, 0, 55, 0.5137254902);
  }
  20% {
    text-shadow: 1px 0 0 rgba(229, 255, 0, 0.5137254902), -2px 0 0 rgba(255, 0, 55, 0.5137254902);
  }
  30% {
    text-shadow: 3px 0.5px 1px rgba(229, 255, 0, 0.5137254902), -2px -0.5px 1px rgba(255, 0, 55, 0.5137254902);
  }
  40% {
    text-shadow: 1px 0 0 rgba(229, 255, 0, 0.5137254902), -2px 0 0 rgba(255, 0, 55, 0.5137254902);
  }
  50% {
    text-shadow: 3px 0.5px 1px rgba(229, 255, 0, 0.5137254902), -2px -0.5px 1px rgba(255, 0, 55, 0.5137254902);
  }
  60% {
    text-shadow: 1px 0 0 rgba(229, 255, 0, 0.5137254902), -2px 0 0 rgba(255, 0, 55, 0.5137254902);
  }
  70% {
    text-shadow: 3px 0.5px 1px rgba(229, 255, 0, 0.5137254902), -2px -0.5px 1px rgba(255, 0, 55, 0.5137254902);
  }
  80% {
    text-shadow: 1px 0 0 rgba(229, 255, 0, 0.5137254902), -2px 0 0 rgba(255, 0, 55, 0.5137254902);
  }
  90% {
    text-shadow: 3px 0.5px 1px rgba(229, 255, 0, 0.5137254902), -2px -0.5px 1px rgba(255, 0, 55, 0.5137254902);
  }
  100% {
    text-shadow: 6px 2px 2px rgba(229, 255, 0, 0.5137254902), -6px -2px 2px rgba(255, 0, 55, 0.5137254902);
  }
}
@-webkit-keyframes textblinking {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes textblinking {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.nav {
  margin-left: 50px;
  border: 1px solid rgb(0, 0, 0);
  border-left: 400px solid rgb(0, 0, 0);
}

.nav-list {
  display: flex;
  justify-content: right;
  list-style: none;
  padding: 5px 10px;
}

.nav-item:not(:last-child) {
  margin-right: 15px;
}

.nav-item a {
  position: relative;
  z-index: 1;
  font-size: 22px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 0;
  transition: 0.3s;
  letter-spacing: 0.125em;
  color: rgb(0, 0, 0);
  -webkit-animation: 1s textflicker infinite normal;
          animation: 1s textflicker infinite normal;
}

.nav-item a::before {
  background: rgb(0, 0, 0);
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: auto;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform 0.3s;
  z-index: -1;
  -webkit-animation: 0.01s textblinking infinite normal;
          animation: 0.01s textblinking infinite normal;
}

.nav-item a:hover {
  color: rgb(153, 153, 153);
  background-color: rgba(229, 255, 0, 0.5137254902);
}

.nav-item a:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

.glitchbox {
  --x-gradient: linear-gradient(90deg, rgb(0, 0, 0) 0 10px, transparent 0 calc(100% - 10px), rgb(0, 0, 0) calc(100% - 10px));
  --y-gradient: linear-gradient(rgb(0, 0, 0) 0 7px, transparent 0 calc(100% - 7px), rgb(0, 0, 0) calc(100% - 7px));
  margin: 0.5rem;
  padding: 1em;
  width: 300px;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.125em;
  background-image: var(--x-gradient), var(--y-gradient), var(--x-gradient), var(--y-gradient);
  background-repeat: no-repeat;
  background-size: 100% 2px, 2px 100%, 100% 2px, 2px 100%;
  background-position: top, right, bottom, left;
  filter: drop-shadow(1px 0 0 rgba(229, 255, 0, 0.5137254902)) drop-shadow(-1px 0 0 rgba(255, 0, 55, 0.5137254902));
  -webkit-animation: 1s boxflicker infinite normal;
          animation: 1s boxflicker infinite normal;
  will-change: filter;
}

.glitchbox p {
  background-color: #ff5e00;
  -webkit-animation: 1s textflicker infinite normal;
          animation: 1s textflicker infinite normal;
}

@-webkit-keyframes boxflicker {
  0% {
    filter: drop-shadow(1px 0 0 rgba(229, 255, 0, 0.5137254902)) drop-shadow(-2px 0 0 rgba(255, 0, 55, 0.5137254902));
  }
  10% {
    filter: drop-shadow(3px 0.5px 1px rgba(229, 255, 0, 0.5137254902)) drop-shadow(-2px 0.5px 1px rgba(255, 0, 55, 0.5137254902));
  }
  20% {
    filter: drop-shadow(1px 0 0 rgba(229, 255, 0, 0.5137254902)) drop-shadow(-2px 0 0 rgba(255, 0, 55, 0.5137254902));
  }
  30% {
    filter: drop-shadow(3px 0.5px 1px rgba(229, 255, 0, 0.5137254902)) drop-shadow(-2px 0.5px 1px rgba(255, 0, 55, 0.5137254902));
  }
  40% {
    filter: drop-shadow(1px 0 0 rgba(229, 255, 0, 0.5137254902)) drop-shadow(-2px 0 0 rgba(255, 0, 55, 0.5137254902));
  }
  50% {
    filter: drop-shadow(3px 0.5px 1px rgba(229, 255, 0, 0.5137254902)) drop-shadow(-2px 0.5px 1px rgba(255, 0, 55, 0.5137254902));
  }
  60% {
    filter: drop-shadow(1px 0 0 rgba(229, 255, 0, 0.5137254902)) drop-shadow(-2px 0 0 rgba(255, 0, 55, 0.5137254902));
  }
  70% {
    filter: drop-shadow(3px 0.5px 1px rgba(229, 255, 0, 0.5137254902)) drop-shadow(-2px 0.5px 1px rgba(255, 0, 55, 0.5137254902));
  }
  80% {
    filter: drop-shadow(1px 0 0 rgba(229, 255, 0, 0.5137254902)) drop-shadow(-2px 0 0 rgba(255, 0, 55, 0.5137254902));
  }
  90% {
    filter: drop-shadow(3px 0.5px 1px rgba(229, 255, 0, 0.5137254902)) drop-shadow(-2px 0.5px 1px rgba(255, 0, 55, 0.5137254902));
  }
  100% {
    filter: drop-shadow(6px 2px 2px rgba(229, 255, 0, 0.5137254902)) drop-shadow(-6px -2px 2px rgba(255, 0, 55, 0.5137254902));
  }
}

@keyframes boxflicker {
  0% {
    filter: drop-shadow(1px 0 0 rgba(229, 255, 0, 0.5137254902)) drop-shadow(-2px 0 0 rgba(255, 0, 55, 0.5137254902));
  }
  10% {
    filter: drop-shadow(3px 0.5px 1px rgba(229, 255, 0, 0.5137254902)) drop-shadow(-2px 0.5px 1px rgba(255, 0, 55, 0.5137254902));
  }
  20% {
    filter: drop-shadow(1px 0 0 rgba(229, 255, 0, 0.5137254902)) drop-shadow(-2px 0 0 rgba(255, 0, 55, 0.5137254902));
  }
  30% {
    filter: drop-shadow(3px 0.5px 1px rgba(229, 255, 0, 0.5137254902)) drop-shadow(-2px 0.5px 1px rgba(255, 0, 55, 0.5137254902));
  }
  40% {
    filter: drop-shadow(1px 0 0 rgba(229, 255, 0, 0.5137254902)) drop-shadow(-2px 0 0 rgba(255, 0, 55, 0.5137254902));
  }
  50% {
    filter: drop-shadow(3px 0.5px 1px rgba(229, 255, 0, 0.5137254902)) drop-shadow(-2px 0.5px 1px rgba(255, 0, 55, 0.5137254902));
  }
  60% {
    filter: drop-shadow(1px 0 0 rgba(229, 255, 0, 0.5137254902)) drop-shadow(-2px 0 0 rgba(255, 0, 55, 0.5137254902));
  }
  70% {
    filter: drop-shadow(3px 0.5px 1px rgba(229, 255, 0, 0.5137254902)) drop-shadow(-2px 0.5px 1px rgba(255, 0, 55, 0.5137254902));
  }
  80% {
    filter: drop-shadow(1px 0 0 rgba(229, 255, 0, 0.5137254902)) drop-shadow(-2px 0 0 rgba(255, 0, 55, 0.5137254902));
  }
  90% {
    filter: drop-shadow(3px 0.5px 1px rgba(229, 255, 0, 0.5137254902)) drop-shadow(-2px 0.5px 1px rgba(255, 0, 55, 0.5137254902));
  }
  100% {
    filter: drop-shadow(6px 2px 2px rgba(229, 255, 0, 0.5137254902)) drop-shadow(-6px -2px 2px rgba(255, 0, 55, 0.5137254902));
  }
}
.cross {
  padding: 1em;
  color: rgb(0, 0, 0);
  width: 65px;
  height: 65px;
  letter-spacing: 0.125em;
  -webkit-animation: 1.2s crossflicker infinite alternate;
          animation: 1.2s crossflicker infinite alternate;
  will-change: filter;
}

@-webkit-keyframes crossflicker {
  0% {
    filter: drop-shadow(1px 0 0 rgba(229, 255, 0, 0.5137254902)) drop-shadow(-2px 0 0 rgba(255, 0, 55, 0.5137254902));
  }
  10% {
    filter: drop-shadow(3px 0.5px 1px rgba(229, 255, 0, 0.5137254902)) drop-shadow(-2px 0.5px 1px rgba(255, 0, 55, 0.5137254902));
  }
  20% {
    transform: rotateZ(45deg);
    filter: drop-shadow(1px 0 0 rgba(229, 255, 0, 0.5137254902)) drop-shadow(-2px 0 0 rgba(255, 0, 55, 0.5137254902));
  }
  30% {
    filter: drop-shadow(3px 0.5px 1px rgba(229, 255, 0, 0.5137254902)) drop-shadow(-2px 0.5px 1px rgba(255, 0, 55, 0.5137254902));
  }
  40% {
    filter: drop-shadow(1px 0 0 rgba(229, 255, 0, 0.5137254902)) drop-shadow(-2px 0 0 rgba(255, 0, 55, 0.5137254902));
  }
  50% {
    transform: rotateZ(120deg);
    filter: drop-shadow(3px 0.5px 1px rgba(229, 255, 0, 0.5137254902)) drop-shadow(-2px 0.5px 1px rgba(255, 0, 55, 0.5137254902));
  }
  60% {
    filter: drop-shadow(1px 0 0 rgba(229, 255, 0, 0.5137254902)) drop-shadow(-2px 0 0 rgba(255, 0, 55, 0.5137254902));
  }
  70% {
    filter: drop-shadow(3px 0.5px 1px rgba(229, 255, 0, 0.5137254902)) drop-shadow(-2px 0.5px 1px rgba(255, 0, 55, 0.5137254902));
  }
  80% {
    filter: drop-shadow(1px 0 0 rgba(229, 255, 0, 0.5137254902)) drop-shadow(-2px 0 0 rgba(255, 0, 55, 0.5137254902));
  }
  90% {
    transform: rotateZ(-5deg);
    filter: drop-shadow(3px 0.5px 1px rgba(229, 255, 0, 0.5137254902)) drop-shadow(-2px 0.5px 1px rgba(255, 0, 55, 0.5137254902));
  }
  100% {
    transform: rotateZ(0deg);
    filter: drop-shadow(6px 2px 2px rgba(229, 255, 0, 0.5137254902)) drop-shadow(-6px -2px 2px rgba(255, 0, 55, 0.5137254902));
  }
}

@keyframes crossflicker {
  0% {
    filter: drop-shadow(1px 0 0 rgba(229, 255, 0, 0.5137254902)) drop-shadow(-2px 0 0 rgba(255, 0, 55, 0.5137254902));
  }
  10% {
    filter: drop-shadow(3px 0.5px 1px rgba(229, 255, 0, 0.5137254902)) drop-shadow(-2px 0.5px 1px rgba(255, 0, 55, 0.5137254902));
  }
  20% {
    transform: rotateZ(45deg);
    filter: drop-shadow(1px 0 0 rgba(229, 255, 0, 0.5137254902)) drop-shadow(-2px 0 0 rgba(255, 0, 55, 0.5137254902));
  }
  30% {
    filter: drop-shadow(3px 0.5px 1px rgba(229, 255, 0, 0.5137254902)) drop-shadow(-2px 0.5px 1px rgba(255, 0, 55, 0.5137254902));
  }
  40% {
    filter: drop-shadow(1px 0 0 rgba(229, 255, 0, 0.5137254902)) drop-shadow(-2px 0 0 rgba(255, 0, 55, 0.5137254902));
  }
  50% {
    transform: rotateZ(120deg);
    filter: drop-shadow(3px 0.5px 1px rgba(229, 255, 0, 0.5137254902)) drop-shadow(-2px 0.5px 1px rgba(255, 0, 55, 0.5137254902));
  }
  60% {
    filter: drop-shadow(1px 0 0 rgba(229, 255, 0, 0.5137254902)) drop-shadow(-2px 0 0 rgba(255, 0, 55, 0.5137254902));
  }
  70% {
    filter: drop-shadow(3px 0.5px 1px rgba(229, 255, 0, 0.5137254902)) drop-shadow(-2px 0.5px 1px rgba(255, 0, 55, 0.5137254902));
  }
  80% {
    filter: drop-shadow(1px 0 0 rgba(229, 255, 0, 0.5137254902)) drop-shadow(-2px 0 0 rgba(255, 0, 55, 0.5137254902));
  }
  90% {
    transform: rotateZ(-5deg);
    filter: drop-shadow(3px 0.5px 1px rgba(229, 255, 0, 0.5137254902)) drop-shadow(-2px 0.5px 1px rgba(255, 0, 55, 0.5137254902));
  }
  100% {
    transform: rotateZ(0deg);
    filter: drop-shadow(6px 2px 2px rgba(229, 255, 0, 0.5137254902)) drop-shadow(-6px -2px 2px rgba(255, 0, 55, 0.5137254902));
  }
}
.panel {
  background-color: rgba(255, 255, 255, 0.7);
  margin: 8px;
  margin-top: 30px;
  padding: 60px 110px;
  border-top: 10px solid rgb(0, 0, 0);
}

@-webkit-keyframes objectflicker {
  0% {
    box-shadow: 1px 0 0 rgba(229, 255, 0, 0.5137254902), -2px 0 0 rgba(255, 0, 55, 0.5137254902);
  }
  10% {
    box-shadow: 3px 0.5px 1px rgba(229, 255, 0, 0.5137254902), -2px -0.5px 1px rgba(255, 0, 55, 0.5137254902);
  }
  20% {
    box-shadow: 1px 0 0 rgba(229, 255, 0, 0.5137254902), -2px 0 0 rgba(255, 0, 55, 0.5137254902);
  }
  30% {
    box-shadow: 3px 0.5px 1px rgba(229, 255, 0, 0.5137254902), -2px -0.5px 1px rgba(255, 0, 55, 0.5137254902);
  }
  40% {
    box-shadow: 1px 0 0 rgba(229, 255, 0, 0.5137254902), -2px 0 0 rgba(255, 0, 55, 0.5137254902);
  }
  50% {
    box-shadow: 3px 0.5px 1px rgba(229, 255, 0, 0.5137254902), -2px -0.5px 1px rgba(255, 0, 55, 0.5137254902);
  }
  60% {
    box-shadow: 1px 0 0 rgba(229, 255, 0, 0.5137254902), -2px 0 0 rgba(255, 0, 55, 0.5137254902);
  }
  70% {
    box-shadow: 3px 0.5px 1px rgba(229, 255, 0, 0.5137254902), -2px -0.5px 1px rgba(255, 0, 55, 0.5137254902);
  }
  80% {
    box-shadow: 1px 0 0 rgba(229, 255, 0, 0.5137254902), -2px 0 0 rgba(255, 0, 55, 0.5137254902);
  }
  90% {
    box-shadow: 3px 0.5px 1px rgba(229, 255, 0, 0.5137254902), -2px -0.5px 1px rgba(255, 0, 55, 0.5137254902);
  }
  100% {
    box-shadow: 6px 2px 2px rgba(229, 255, 0, 0.5137254902), -6px -2px 2px rgba(255, 0, 55, 0.5137254902);
  }
}

@keyframes objectflicker {
  0% {
    box-shadow: 1px 0 0 rgba(229, 255, 0, 0.5137254902), -2px 0 0 rgba(255, 0, 55, 0.5137254902);
  }
  10% {
    box-shadow: 3px 0.5px 1px rgba(229, 255, 0, 0.5137254902), -2px -0.5px 1px rgba(255, 0, 55, 0.5137254902);
  }
  20% {
    box-shadow: 1px 0 0 rgba(229, 255, 0, 0.5137254902), -2px 0 0 rgba(255, 0, 55, 0.5137254902);
  }
  30% {
    box-shadow: 3px 0.5px 1px rgba(229, 255, 0, 0.5137254902), -2px -0.5px 1px rgba(255, 0, 55, 0.5137254902);
  }
  40% {
    box-shadow: 1px 0 0 rgba(229, 255, 0, 0.5137254902), -2px 0 0 rgba(255, 0, 55, 0.5137254902);
  }
  50% {
    box-shadow: 3px 0.5px 1px rgba(229, 255, 0, 0.5137254902), -2px -0.5px 1px rgba(255, 0, 55, 0.5137254902);
  }
  60% {
    box-shadow: 1px 0 0 rgba(229, 255, 0, 0.5137254902), -2px 0 0 rgba(255, 0, 55, 0.5137254902);
  }
  70% {
    box-shadow: 3px 0.5px 1px rgba(229, 255, 0, 0.5137254902), -2px -0.5px 1px rgba(255, 0, 55, 0.5137254902);
  }
  80% {
    box-shadow: 1px 0 0 rgba(229, 255, 0, 0.5137254902), -2px 0 0 rgba(255, 0, 55, 0.5137254902);
  }
  90% {
    box-shadow: 3px 0.5px 1px rgba(229, 255, 0, 0.5137254902), -2px -0.5px 1px rgba(255, 0, 55, 0.5137254902);
  }
  100% {
    box-shadow: 6px 2px 2px rgba(229, 255, 0, 0.5137254902), -6px -2px 2px rgba(255, 0, 55, 0.5137254902);
  }
}
.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profileimage {
  margin-bottom: 10px;
  padding: 20px;
  border: 1px solid rgb(0, 0, 0);
}

.profileimage img {
  vertical-align: top;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 150px;
}

.minititle {
  letter-spacing: 0.125em;
  font-weight: bold;
  border-right: 100px solid rgb(0, 0, 0);
  border-left: 10px solid rgb(0, 0, 0);
  padding-left: 10px;
  margin-bottom: 17.5px;
  background-color: #ff5e00;
}

.profiletext {
  font-family: UDEVGothic;
  letter-spacing: 0.125em;
}

.infomation {
  padding: 10px;
}

.text {
  font-size: 20px;
}

.text:not(:last-child) {
  margin-bottom: 5px;
}

.description {
  margin-top: 10px;
  padding: 15px;
  border: 1px solid rgb(0, 0, 0);
  font-size: 15px;
}

.description p {
  letter-spacing: 0.25em;
}

.description p:not(:last-child) {
  margin-bottom: 10px;
}

.skillname {
  border-right: 100px solid rgb(0, 0, 0);
  border-left: 10px solid rgb(0, 0, 0);
  padding-left: 10px;
  background-color: #ff5e00;
}

.skillname span {
  text-align: right;
}

.skilldescription {
  border: 1px solid rgb(0, 0, 0);
  margin-bottom: 20px;
}

.skilldescription p {
  font-family: UDEVGothic;
  padding: 15px;
  border-left: 1px solid rgb(0, 0, 0);
  border-right: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
  font-size: 15px;
  letter-spacing: 0.125em;
}

.contact {
  margin: 50px 100px;
}

.contactdescription {
  padding: 15px;
  border: 1px solid rgb(0, 0, 0);
}

.contactdescription a {
  all: unset;
  position: relative;
  z-index: 1;
  transition: 0.3s;
  font-family: ShareTechMono;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 0.125em;
  color: rgb(0, 0, 0);
  -webkit-animation: 1s textflicker infinite normal;
          animation: 1s textflicker infinite normal;
}

.contactdescription a::before {
  background: rgb(0, 0, 0);
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: auto;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform 0.3s;
  z-index: -1;
  -webkit-animation: 0.01s textblinking infinite normal;
          animation: 0.01s textblinking infinite normal;
  will-change: opacity;
}

.contactdescription a:hover {
  color: rgb(153, 153, 153);
  background-color: rgba(229, 255, 0, 0.5137254902);
}

.contactdescription a:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}/*# sourceMappingURL=style.css.map */