$main-color: rgb(0, 0, 0);
// $main-color: rgba(238, 238, 238, 0.815);
$text-background-color: #ff5e00;
// $text-background-color: #6200ff8c;
// $text-background-color: rgb(23, 180, 154);
$glitchshadow-color1: #e5ff0083;
$glitchshadow-color2: #ff003783;
$ShareTechMono-l-spacing: 0.125em;
$uiback-color: rgba(255, 255, 255, 0.7);
// $uiback-color: rgba(44, 44, 44, 0.7);
$back-color: rgb(153, 153, 153);
// $back-color: #111;

@font-face {
    font-family: 'ShareTechMono';
    letter-spacing: 0.125em;
    src:  url(../fonts/ShareTechMono-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'UDEVGothic';
    letter-spacing: 0.125em;
    src:  url(../fonts/UDEVGothic-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'DotGothic16-Regular';
    letter-spacing: 0.125em;
    src:  url(../fonts/DotGothic16-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'JosefinSans-BoldItalic';
    letter-spacing: 0.125em;
    src:  url(../fonts/JosefinSans-BoldItalic.ttf) format('truetype');
}
@font-face {
    font-family: 'Limelight-Regular';
    letter-spacing: 0.125em;
    src:  url(../fonts/Limelight-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Monoton-Regular.ttf';
    letter-spacing: 0.125em;
    src:  url(../fonts/Monoton-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Oswald-VariableFont_wght';
    letter-spacing: 0.125em;
    src:  url(../fonts/Oswald-VariableFont_wght.ttf) format('truetype');
}
@font-face {
    font-family: 'PlayfairDisplay-VariableFont_wght';
    letter-spacing: 0.125em;
    src:  url(../fonts/PlayfairDisplay-VariableFont_wght.ttf) format('truetype');
}
@font-face {
    font-family: 'QwitcherGrypen-Regular';
    letter-spacing: 0.125em;
    src:  url(../fonts/QwitcherGrypen-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'RampartOne-Regular';
    letter-spacing: 0.125em;
    src:  url(../fonts/RampartOne-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'UncialAntiqua-Regular';
    letter-spacing: 0.125em;
    src:  url(../fonts/UncialAntiqua-Regular.ttf) format('truetype');
}

html { 
    background: $back-color;
    padding: 1em;
    color: $main-color;
    font-family: ShareTechMono;
    // background-image: url(../img/grid.png);
    background-position: center;
}

header {
    background-color: $uiback-color;
    margin-bottom: 70px;
}

.warning {
    display: inline;
    font-size: 15px;
    animation: 1s textflicker infinite normal;
    border-bottom: 1px solid $main-color;
}

body {
    font-size: 25px;
}

.line {
    border-top: 0.5px solid $main-color;
}

.container {
    margin: 0 auto; // 中央寄せ
}

/*********************************
    SPLASH SCREEN
*********************************/

.changingchar {
    margin: auto;
    font-size: 15px;
    width: 75px;
    color: $back-color;
    background-color: white;
    text-align: center;
    animation: 1s changing infinite linear, .1s commandflicker infinite normal;
}
@keyframes changing {
    0% {
        font-family: 'ShareTechMono';
    }
    10% {
        font-family: 'Oswald-VariableFont_wght';
    }
    20% {
        font-family: 'UDEVGothic';
    }
    30% {
        font-family: 'PlayfairDisplay-VariableFont_wght';
    }
    40% {
        font-family: 'DotGothic16-Regular';
    }
    50% {
        font-family: 'RampartOne-Regular';
    }
    60% {
        font-family: 'JosefinSans-BoldItalic';
    }
    70% {
        font-family: 'QwitcherGrypen-Regular';
    }
    80% {
        font-family: 'Limelight-Regular';
    }
    90% {
        font-family: 'UncialAntiqua-Regular';
    }
    100% {
        font-family: 'Monoton-Regular.ttf';
    }
}


.commandstyle {
    color: $main-color;
    font-size: 1rem;
    letter-spacing: .3em;
    animation: .1s commandflicker infinite normal;
    will-change: text-shadow;
}

@keyframes commandflicker {
    0% {
        text-shadow: .5px 0 0 $glitchshadow-color1, -2px 0 0 $glitchshadow-color2;
    }
    100% {
        text-shadow: 1.5px 0.5px 1px $glitchshadow-color1, -2px -0.5px 1px $glitchshadow-color2;
    }
}

#splash {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: $back-color;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: 1s opacity;
}

#splash.loaded {
    animation: .1s loaded forwards linear;
    will-change: transform, opacity, visibility;
}

@keyframes loaded {
    0%{
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
        display: none;
    }
}

#loading {
    visibility: hidden;
    position: relative;
    top: 25%;
    padding: 30px;
}

#loadingbox {    
    visibility: hidden;
    --x-gradient: linear-gradient(90deg, rgb(0, 0, 0) 0 10px, transparent 0 calc(100% - 10px), rgb(0, 0, 0) calc(100% - 10px));
    --y-gradient: linear-gradient(rgb(0, 0, 0) 0 7px, transparent 0 calc(100% - 7px), rgb(0, 0, 0) calc(100% - 7px));
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    line-height: 1;
    background-image:
        var(--x-gradient),
        var(--y-gradient),
        var(--x-gradient),
        var(--y-gradient);
    background-repeat: no-repeat;
    background-size: 100% 2px, 2px 100%, 100% 2px, 2px 100%;
    background-position: top, right, bottom, left;
    filter: drop-shadow(1px 0 0 $glitchshadow-color1) drop-shadow(-1px 0 0 $glitchshadow-color2);
    animation: 1s boxflicker infinite normal;
    will-change: filter;
}


#loadingline {
    position: relative;
    height: 15px;
    background-color: $main-color;
}

// ローディングのバー
.loadingline2::before {
    content: "";
    position: absolute;
    height: 15px;
    background-color: $text-background-color;
    animation: 5s fullexpand forwards normal;
}

@keyframes fullexpand {
    0%{
        width: 0px;
    }
    40% {
        width: 30%;
    }
    80% {
        width: 80%;
    }
    90% {
        width: 85%;
    }
    100% {
        width: 100%;
    }
}

.loading-divider {
    display: flex;
    justify-content: center;
    background-color: $uiback-color;
    margin: 20px auto 0 auto;
    width: 50%;
}

.cross-splashscreen {
    padding: 1em;
    color: $main-color;
    width: 50px;
    height: 50px;
    letter-spacing: $ShareTechMono-l-spacing;
    animation: .9s crossflicker infinite alternate;
    will-change: filter;
}
.cross-splashscreen:not(:last-child) {
    margin-right: 50px;
}

/*********************************
	コンテンツ
*********************************/

.content {
    max-width: 1500px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.flex-divider {
    display: flex;
    justify-content: center;
    background-color: $uiback-color;
    width: 250px;
    margin: 30px auto;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 0px;
}
.footer p {
    font-family: UDEVGothic;
    font-size: 0.4em;
    letter-spacing: 2em;
}

.copyright {
    font-size: 0.5em;
    text-align: right;
    letter-spacing: $ShareTechMono-l-spacing;
}

.title {
    padding: 2rem 6rem;
}

.glitchtitle {
    overflow: scroll;
    display: inline;
    background-color: $text-background-color;
    color: $main-color;
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 1;
    text-shadow: 0.06rem 0 0.06rem $glitchshadow-color1, -0.125rem 0 0.06rem $glitchshadow-color2;
    letter-spacing: $ShareTechMono-l-spacing;
    animation: 1s textflicker infinite normal;
    will-change: text-shadow;
}

.glitchtitle span {
    display: inline-block;
}

.blink {
    animation: 0.5s textblinking infinite alternate;
    will-change: opacity;
}

@keyframes textflicker {
    0% {
        text-shadow: 1px 0 0 $glitchshadow-color1, -2px 0 0 $glitchshadow-color2;
    }
    10% {
        text-shadow: 3px 0.5px 1px $glitchshadow-color1, -2px -0.5px 1px $glitchshadow-color2;
    }
    20% {
        text-shadow: 1px 0 0 $glitchshadow-color1, -2px 0 0 $glitchshadow-color2;
    }
    30% {
        text-shadow: 3px 0.5px 1px $glitchshadow-color1, -2px -0.5px 1px $glitchshadow-color2;
    }
    40% {
        text-shadow: 1px 0 0 $glitchshadow-color1, -2px 0 0 $glitchshadow-color2;
    }
    50% {
        text-shadow: 3px 0.5px 1px $glitchshadow-color1, -2px -0.5px 1px $glitchshadow-color2;
    }
    60% {
        text-shadow: 1px 0 0 $glitchshadow-color1, -2px 0 0 $glitchshadow-color2;
    }
    70% {
        text-shadow: 3px 0.5px 1px $glitchshadow-color1, -2px -0.5px 1px $glitchshadow-color2;
    }
    80% {
        text-shadow: 1px 0 0 $glitchshadow-color1, -2px 0 0 $glitchshadow-color2;
    }
    90% {
        text-shadow: 3px 0.5px 1px $glitchshadow-color1, -2px -0.5px 1px $glitchshadow-color2;
    }
    100% {
        text-shadow: 6px 2px 2px $glitchshadow-color1, -6px -2px 2px $glitchshadow-color2;
    }
}

@keyframes textblinking {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.nav {
    margin-left: 50px;
    border: 1px solid $main-color;
    border-left: 400px solid $main-color;
    border-right: 100px solid $main-color;
}

.nav-list {
    display: flex;
    justify-content: right;
    list-style: none;
    padding: 5px 10px;
}

.nav-item:not(:last-child) {
    margin-right: 15px;
}

.nav-item a {
    position: relative;
    z-index: 1;
    font-size: 22px;
    font-weight: bold;
    display: inline-block;
    padding: 5px 0;
    transition: .3s;
    letter-spacing: $ShareTechMono-l-spacing;
    color: $main-color;
    animation: 1s textflicker infinite normal;
}

.nav-item a::before {
    background: $main-color;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: auto;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform .3s;
    z-index: -1;
    animation: 0.01s textblinking infinite normal;
}

.nav-item a:hover {
    color: $back-color;
    background-color: $glitchshadow-color1;
}

.nav-item a:hover::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

.glitchbox {
    --x-gradient: linear-gradient(90deg, rgb(0, 0, 0) 0 10px, transparent 0 calc(100% - 10px), rgb(0, 0, 0) calc(100% - 10px));
    --y-gradient: linear-gradient(rgb(0, 0, 0) 0 7px, transparent 0 calc(100% - 7px), rgb(0, 0, 0) calc(100% - 7px));
    margin: 0.5rem;
    padding: 1em;
    width: 300px;
    font-size: 1em;
    font-weight: bold;
    line-height: 1;
    letter-spacing: $ShareTechMono-l-spacing;
    background-image:
        var(--x-gradient),
        var(--y-gradient),
        var(--x-gradient),
        var(--y-gradient);
    background-repeat: no-repeat;
    background-size: 100% 2px, 2px 100%, 100% 2px, 2px 100%;
    background-position: top, right, bottom, left;
    filter: drop-shadow(1px 0 0 $glitchshadow-color1) drop-shadow(-1px 0 0 $glitchshadow-color2);
    animation: 1s boxflicker infinite normal;
    will-change: filter;
}

.glitchbox p {
    background-color: $text-background-color;
    animation: 1s textflicker infinite normal;
}
@keyframes boxflicker{
    0% {
        filter: drop-shadow(1px 0 0 $glitchshadow-color1) drop-shadow(-2px 0 0 $glitchshadow-color2);
    }
    10% {
        filter: drop-shadow(3px 0.5px 1px $glitchshadow-color1) drop-shadow(-2px 0.5px 1px $glitchshadow-color2);
    }
    20% {
        filter: drop-shadow(1px 0 0 $glitchshadow-color1) drop-shadow(-2px 0 0 $glitchshadow-color2);
    }
    30% {
        filter: drop-shadow(3px 0.5px 1px $glitchshadow-color1) drop-shadow(-2px 0.5px 1px $glitchshadow-color2);
    }
    40% {
        filter: drop-shadow(1px 0 0 $glitchshadow-color1) drop-shadow(-2px 0 0 $glitchshadow-color2);
    }
    50% {
        filter: drop-shadow(3px 0.5px 1px $glitchshadow-color1) drop-shadow(-2px 0.5px 1px $glitchshadow-color2);
    }
    60% {
        filter: drop-shadow(1px 0 0 $glitchshadow-color1) drop-shadow(-2px 0 0 $glitchshadow-color2);
    }
    70% {
        filter: drop-shadow(3px 0.5px 1px $glitchshadow-color1) drop-shadow(-2px 0.5px 1px $glitchshadow-color2);
    }
    80% {
        filter: drop-shadow(1px 0 0 $glitchshadow-color1) drop-shadow(-2px 0 0 $glitchshadow-color2);
    }
    90% {
        filter: drop-shadow(3px 0.5px 1px $glitchshadow-color1) drop-shadow(-2px 0.5px 1px $glitchshadow-color2);
    }
    100% {
        filter: drop-shadow(6px 2px 2px $glitchshadow-color1) drop-shadow(-6px -2px 2px $glitchshadow-color2);
    }
}

.cross {
    padding: 1em;
    color: $main-color;
    width: 65px;
    height: 65px;
    letter-spacing: $ShareTechMono-l-spacing;
    animation: 1.2s crossflicker infinite alternate;
    will-change: filter;
}

@keyframes crossflicker {
    0% {
        filter: drop-shadow(1px 0 0 $glitchshadow-color1) drop-shadow(-2px 0 0 $glitchshadow-color2);
    }
    10% {
        filter: drop-shadow(3px 0.5px 1px $glitchshadow-color1) drop-shadow(-2px 0.5px 1px $glitchshadow-color2);
    }
    20% {
        transform: rotateZ(45deg);
        filter: drop-shadow(1px 0 0 $glitchshadow-color1) drop-shadow(-2px 0 0 $glitchshadow-color2);
    }
    30% {
        filter: drop-shadow(3px 0.5px 1px $glitchshadow-color1) drop-shadow(-2px 0.5px 1px $glitchshadow-color2);
    }
    40% {
        filter: drop-shadow(1px 0 0 $glitchshadow-color1) drop-shadow(-2px 0 0 $glitchshadow-color2);
    }
    50% {
        transform: rotateZ(120deg);
        filter: drop-shadow(3px 0.5px 1px $glitchshadow-color1) drop-shadow(-2px 0.5px 1px $glitchshadow-color2);
    }
    60% {
        filter: drop-shadow(1px 0 0 $glitchshadow-color1) drop-shadow(-2px 0 0 $glitchshadow-color2);
    }
    70% {
        filter: drop-shadow(3px 0.5px 1px $glitchshadow-color1) drop-shadow(-2px 0.5px 1px $glitchshadow-color2);
    }
    80% {
        filter: drop-shadow(1px 0 0 $glitchshadow-color1) drop-shadow(-2px 0 0 $glitchshadow-color2);
    }
    90% {
        transform: rotateZ(-5deg);
        filter: drop-shadow(3px 0.5px 1px $glitchshadow-color1) drop-shadow(-2px 0.5px 1px $glitchshadow-color2);
    }
    100% {
        transform: rotateZ(0deg);
        filter: drop-shadow(6px 2px 2px $glitchshadow-color1) drop-shadow(-6px -2px 2px $glitchshadow-color2);
    }
}

.panel {
    background-color: $uiback-color;
    margin: 8px;
    margin-top: 30px;
    padding: 60px 110px;
    border-top: 10px solid $main-color;
}

@keyframes objectflicker {
    0% {
        box-shadow: 1px 0 0 $glitchshadow-color1, -2px 0 0 $glitchshadow-color2;
    }
    10% {
        box-shadow: 3px 0.5px 1px $glitchshadow-color1, -2px -0.5px 1px $glitchshadow-color2;
    }
    20% {
        box-shadow: 1px 0 0 $glitchshadow-color1, -2px 0 0 $glitchshadow-color2;
    }
    30% {
        box-shadow: 3px 0.5px 1px $glitchshadow-color1, -2px -0.5px 1px $glitchshadow-color2;
    }
    40% {
        box-shadow: 1px 0 0 $glitchshadow-color1, -2px 0 0 $glitchshadow-color2;
    }
    50% {
        box-shadow: 3px 0.5px 1px $glitchshadow-color1, -2px -0.5px 1px $glitchshadow-color2;
    }
    60% {
        box-shadow: 1px 0 0 $glitchshadow-color1, -2px 0 0 $glitchshadow-color2;
    }
    70% {
        box-shadow: 3px 0.5px 1px $glitchshadow-color1, -2px -0.5px 1px $glitchshadow-color2;
    }
    80% {
        box-shadow: 1px 0 0 $glitchshadow-color1, -2px 0 0 $glitchshadow-color2;
    }
    90% {
        box-shadow: 3px 0.5px 1px $glitchshadow-color1, -2px -0.5px 1px $glitchshadow-color2;
    }
    100% {
        box-shadow: 6px 2px 2px $glitchshadow-color1, -6px -2px 2px $glitchshadow-color2;
    }
}
.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profileimage{
    margin-bottom: 10px;
    padding: 20px;
    border: 1px solid $main-color;
}

.profileimage img {
    vertical-align: top;
    object-fit: cover;
    width: 100%;
    height: 150px;
}

.minititle {
    letter-spacing: $ShareTechMono-l-spacing;
    font-weight: bold;
    border-right: 100px solid $main-color;
    border-left: 10px solid $main-color;
    padding-left: 10px;
    margin-bottom: 17.5px;
    background-color: $text-background-color;
}

.profiletext {
    font-family: UDEVGothic;
    letter-spacing: $ShareTechMono-l-spacing;
}

.infomation {
    padding: 10px;
}

.text{
    font-size: 20px;
}
.text:not(:last-child){
    margin-bottom: 5px;
}

.description {
    margin-top: 10px;
    padding: 15px;
    border: 1px solid $main-color;
    // border-top: 30px solid $main-color;
    font-size: 15px;
}

.description p {
    letter-spacing: 0.25em;
}
.description p:not(:last-child) {
    margin-bottom: 10px;
}

.skill {
    // margin: 50px 100px;
}

.skillname{
    border-right: 100px solid $main-color;
    border-left: 10px solid $main-color;
    padding-left: 10px;
    background-color: $text-background-color;
}

.skillname span {
    text-align: right;
}

.skilldescription {
    border: 1px solid $main-color;
    margin-bottom: 20px;
}

.skilldescription p {
    font-family: UDEVGothic;
    padding: 15px;
    border-left: 1px solid $main-color;
    border-right: 1px solid $main-color;
    border-bottom: 1px solid $main-color;
    font-size: 15px;
    letter-spacing: $ShareTechMono-l-spacing;
}

.contact {
    margin: 50px 100px;
}

.contactdescription {
    padding: 15px;
    border: 1px solid $main-color;
}

.contactdescription a {
    all: unset;
    position: relative;
    z-index: 1;
    transition: .3s;
    font-family: ShareTechMono;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: $ShareTechMono-l-spacing;
    color: $main-color;
    animation: 1s textflicker infinite normal;
}

.contactdescription a::before {
    background: $main-color;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: auto;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform .3s;
    z-index: -1;
    animation: 0.01s textblinking infinite normal;
    will-change: opacity;
}

.contactdescription a:hover {
    color: $back-color;
    background-color: $glitchshadow-color1;
}

.contactdescription a:hover::before {
    transform-origin: left top;
    transform: scale(1, 1);
}
